# Variables de entorno y secretos
.env

# Entornos virtuales
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db
